%h1 ウェブサイト一覧

.form-actions
  = link_to 'ウェブサイト追加', new_my_website_path, class: 'btn btn-primary'


%table.table.table-striped
  %thead
    %tr
      %th= t_model('website')
      %th
  %tbody
    - @websites.each do |website|
      %tr
        %td= link_to website.link_text, website.link_url, {target: '_blank', 'data-toggle': 'tooltip', title: website.description}
        %td
          .btns
            = link_to t('view.edit'), edit_my_website_path(website), class: 'btn btn-primary'
            = link_to t('view.destroy'), [:my, website], method: :delete, data: { confirm: t('view.confirm') }, class: 'btn btn-danger'
          .btns.mt-3
            = link_to t('view.move_up'), move_up_my_website_path(website), method: :put, class: 'btn btn-primary btn-sm'
            = link_to t('view.move_down'), move_down_my_website_path(website), method: :put, class: 'btn btn-primary btn-sm'
            = link_to t('view.move_top'), move_top_my_website_path(website), method: :put, class: 'btn btn-primary btn-sm', data: { confirm: t('view.confirm') }
            = link_to t('view.move_bottom'), move_bottom_my_website_path(website), method: :put, class: 'btn btn-primary btn-sm', data: { confirm: t('view.confirm') }
